<div class="container">
  <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
      <div class="panel-title">Sign In</div>
      <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/users/sign_up" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign up</a></div>
    </div>
      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <!-- <form id="loginform" class="form-horizontal" role="form"> -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= f.email_field :email, autofocus: true, :class=>"form-control " , :placeholder=>"email" %>                                        
          </div>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password, required: false, :class=>"form-control ", :placeholder=>"password"  %>
          </div>
          <div class="input-group">
            <div class="checkbox">
              
              <% if devise_mapping.rememberable? -%>
                <label>
                  <input id="login-remember" type="checkbox" name="user[remember_me]" id="user_remember_me" value="1"> Remember me
                </label>
              <% end -%>
            </div>
          </div>
          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <button id="btn-signup" type="submit" class="btn btn-success" name="commit"><i class="icon-hand-right"></i> &nbsp Sign In</button>
              <!--Facebook-->
              <a href="/auth/facebook" title="Facebook" class="btn btn-facebook">
                <span class="fa fa-facebook"></span>
              </a> 
              <!--Twitter-->
              <a href="/auth/twitter" title="Twitter" class="btn btn-twitter">
                <span class="fa fa-twitter"></span>
              </a>
              <!--Linkedin-->
              <a href="/auth/linkedin" title="Linkedin" class="btn btn-linkedin">
                <span class="fa fa-linkedin"></span>
              </a>
              <!--Instagram-->
              <a href="/auth/instagram" title="Instagram" class="btn btn-instagram">
                <span class="fa fa-instagram"></span>
              </a>
              <!--Pinterest-->
              <a href="/auth/pinterest" title="Pinterest" class="btn btn-pinterest">
                <span class="fa fa-pinterest"></span>
              </a>
            </div>
          </div>
        <% end %>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>
